html,
section {
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    z-index: 1;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 0;
}

.main {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.title {
    width: 100%;
    max-width: 881px;
    color: #000;
    font-size: 0;
    font-family: 'GlossyMagazine regular';
    font-weight: 500;
    overflow: visible;
}

.title__wrapp {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
}

.title__extra,
.title__wrapp {
    font-size: 77px;
    line-height: 66px;
    letter-spacing: -0.07em;
}

.title__underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.title__footnote {
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 18px;
    line-height: 18px;
    font-family: 'AmbiantBook';
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.07em;
    color: #000;
    transition: 0.3s ease-in-out;
}

.title__footnote--post {
    /* right: -16px; */
}

.title__wrapp--open .title__footnote--post {
    color: #00DE24;
}

.title__wrapp--open .title__footnote--design {
    color: #FF33D2;
}

.title__wrapp--open .title__footnote--tangle {
    color: #FF6B00;
}

.title__wrapp--open .title__footnote--locations {
    color: #FF0000;
}

.title__card {
    position: absolute;
    top: 65%;
    left: 50%;
    height: auto;
    width: 300px;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s ease-in-out;
    font-size: 16px;
    line-height: 20px;
    white-space: normal;
    overflow: visible;
    z-index: 10;
    border-radius: 20px;
    padding: 20px;
    pointer-events: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: normal;
}

.title__card--open {
    opacity: 1;
    transition: 0.3s ease-in-out;
    pointer-events: initial;
}

.title__card--post,
.footnotes__card--post {
    color: #00DE24;
    font-family: 'Edition numerical';
    box-shadow: 0px 10px 20px #60C470;
}

.title__card--design,
.footnotes__card--design {
    color: #FF33D2;
    font-family: 'Edition Contextual';
    box-shadow: 0px 10px 20px #FF33D2;
}

.title__card--tangle,
.footnotes__card--tangle {
    color: #FF6B00;
    font-family: 'Edition Geometrical';
    box-shadow: 0px 10px 20px #FF6B00;
}

.title__card--locations,
.footnotes__card--locations {
    color: #FF0000;
    font-family: 'Edition Scriptual';
    box-shadow: 0px 10px 20px #FF0000 ;
}

.title__card p {
    display: inline-block;
    word-wrap: break-word;
    margin: 0;
}

.title__close {
    display: block;
    margin-top: 1.5em;
}

.footnotes {
    padding: 20px;
}

.footnotes__card {
    height: auto;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    line-height: 20px;
    white-space: normal;
    border-radius: 30px;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.info {
    font-family: 'AmbiantBook';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #000;
    margin-top: 1.5em;
    z-index: 0;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-family: 'AmbiantBook';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    border-radius: 25px;
    border: 1px solid #000;
    background-color: #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 50px;
    text-decoration: none;
    box-sizing: border-box;
}

.social__button:hover {
    color: #fff;
    background-color: #000;
    transition: 0.2s ease-in-out;
}

.social__button--large {
    padding: 0 15px 2px;
}

.social__smal-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.social__button--small {
    border-radius: 50%;
    height: 38px;
    width: 38px;
    font-size: 15px;
    line-height: 18px;
}

.logos {
    max-width: 100%;
    width: 100%;
    font-family: 'AmbiantBook';
    font-size: 16px;
    line-height: 21px;
}

.logos p {
    font-family: 'AmbiantBook';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin: 9px 0 1em;
}

.logos__divider {
    height: 1px;
    width: 100%;
    background-color: #000;
}

.logos__partners {
    margin-bottom: 28px;
}

.logos__supporters {
    display: grid;
    grid-template-areas: 
    "text . artLogo"
    "nodiskLogo . artLogo";
    grid-template-columns: 198px auto 70px;
}

.logos__text {
    grid-area: text;
}

.logos__art-logo {
    display: flex;
    align-items: flex-end;
    grid-area: artLogo;
}

.logos__nordisk-logo {
    grid-area: nodiskLogo;
}

.logos__container {
    display: grid;
    grid-template-columns: 134px 78px 89px;
    justify-content: space-between;
}

.logos__container--supporters {

}

.logos__img {
    max-width: 100%;
    width: 100%;
}

/* Ipad */
@media screen and (min-width: 767px) {
    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    .title__extra,
    .title__wrapp {
        font-size: 127px;
        line-height: 100%;
    }
    .info {
        margin-top: 0;
        font-size: 25px;
        line-height: 30px;
    }
    .info-social {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .social__smal-buttons {
        width: 180px;
    }
    .social__button--large {
        height: 46px;
        font-size: 25px;
        line-height: 30px;
        padding: 0 30px 4px;
    }
    .social__button--small {
        width: 46px;
        height: 46px;
        font-size: 18px;
        line-height: 22px;
    }
    .logos {
        display: grid;
        grid-template-areas: 
        "line line line"
        "partners mobLine supporters";
        grid-template-columns: 1.75fr 1fr 1fr;
    }
    .logos__divider--mob {
        display: none;
        grid-area: mobLine;
    }
    .logos__divider--desk {
        grid-area: line;
    }
    .logos__partners {
        grid-area: partners;
        margin-bottom: 0;
    }
    .logos__container {
        grid-template-columns: 203px 120px 136px;
     }
    .logos__supporters {
        grid-area: supporters;
        grid-template-columns: 231px auto 71px;
        margin-bottom: 40px;
    }
    .logos p {
        font-size: 16px;
        line-height: 21px;
    }
    .logos__nordisk-logo {
        display: flex;
        align-items: flex-end;
    }
}
/* Desktop */
@media screen and (min-width: 1200px) {
    .main {
        padding-bottom: 0;
    }
    .title {
        max-width: 1118px;
    }
    .title__extra,
    .title__wrapp {
        font-size: 153.326px;
    }
    .title__wrapp:hover .title__card{
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
    .title__wrapp:hover .title__footnote--post {
        color: #00DE24;
    }
    .title__wrapp:hover .title__footnote--design {
        color: #FF33D2;
    }
    .title__wrapp:hover .title__footnote--tangle {
        color: #FF6B00;
    }
    .title__wrapp:hover .title__footnote--locations {
        color: #FF0000;
    }
    .title__close {
        display: none;
    }
    .info {
        font-size: 30px;
        line-height: 36px;
    }
    .social__button--large {
        height: 46px;
        font-size: 32px;
        line-height: 38px;
        padding: 0 20px 4px 45px;
    }
    .social__button--small {
        width: 46px;
        height: 46px;
        font-size: 18px;
        line-height: 22px;
    }
    .logos {
        margin-top: 15px;
    }
    .logos__container {
        grid-template-columns: 245px 144px 164px;
     }
    .logos__supporters {
        grid-template-columns: 278px auto 90px;
        margin-bottom: 40px;
    }
}